.box{
    
    .content{
        p{
           
            color: rgb(151, 149, 149);
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 50px;
        }
    
        h6{
            color: rgb(0, 0, 0);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
        }
    
        span{
            color: rgb(0, 0, 0);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
        }
        
        .b1{
            width: 720px;
            height: 600px;
            margin-left: 580px;
            margin-top: -300px;
            border-radius: 2px;
        }
    
        
    }


    .one:hover{
        background: rgb(219, 68, 68);
        
    }
    .tri:hover{
        background: rgb(219, 68, 68);
        
    }
    .too:hover{
        background: rgb(219, 68, 68);
        
    }
    .foo:hover{
        background: rgb(219, 68, 68);
        
    }
    

    .one{
        width: 270px;
        height: 230px;     
        border: 3px solid #ccc; 
        border-radius: 5px;
        text-align: center;
        margin-top: 100px;
        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;


        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    .too{
        width: 270px;
        height: 230px;     
        border: 3px solid #ccc; 
        border-radius: 5px;
        text-align: center;
         margin-top: -230px;
         margin-left: 300px;

        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;
            

        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    .tri{
        width: 270px;
        height: 230px;     
        border: 3px solid #ccc; 
        border-radius: 5px;
        text-align: center;
        margin-top: 100px;
         margin-top: -230px;
         margin-left: 600px;
        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;


        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    .foo{
        width: 270px;
        height: 230px;     
        border: 3px solid #ccc; 
        border-radius: 5px;
        text-align: center;
        margin-top: 100px;
        margin-left: 100px;
        margin-top: -230px;
        margin-left: 900px;

       
        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;


        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    
    .people{
        img{
            width: 1170px;
             height: 564px;
             margin-top: 140px;
        }
    }
    .x1{
        width: 270px;
        height: 230px;     
        text-align: center;
       

       
        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;


        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    .x2{
        width: 270px;
        height: 230px;     
        text-align: center;
        

       
        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;


        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    .x3{
        width: 270px;
        height: 230px;     
        text-align: center;
       
       
        


        img{
            width: 80px;
            height: 80px;
            margin-top: 10px;
            object-fit: cover;


        }

        p{
            
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        }

        h1{
           
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 32px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 4%;
           margin-top: 20px;
        }


    }
    .comada{
        margin-top: 196px;
        display: flex;
        gap: 88px;
        margin-left: 90px;
    }
}


